Solutions/DPAM_Solution/Workflows/CreateContactFrequenciesBasedOnMarketingList-8B06280A-BC51-EC11-8C62-002248811C5C.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"dpam_sharedcommondataserviceforapps_32790"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2021-12-06T21:00:00Z"},"metadata":{"operationMetadataId":"e19007d2-b838-4807-b93e-203c5df42c79"},"type":"Recurrence"}},"actions":{"List_of_Marketing_Lists":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"a58ff48a-ed5e-4b9b-8a0d-c38383838979"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"lists","fetchXml":"<fetch>\n  <entity name=\"list\">\n    <attribute name=\"listid\" />\n    <attribute name=\"dpam_dt_startdate\" />\n    <attribute name=\"dpam_int_numberoftargetcctivities\" />\n    <attribute name=\"dpam_dt_enddate\" />\n    <filter type=\"and\">\n      <condition attribute=\"dpam_dt_contactfrequencycreatedon\" operator=\"today\" />\n      <condition attribute=\"dpam_os_statuscontactfrequency\" operator=\"eq\" value=\"100000000\" />\n<condition attribute=\"createdfromcode\" operator=\"eq\" value=\"1\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Marketing_List":{"foreach":"@outputs('List_of_Marketing_Lists')?['body/value']","actions":{"Update_Status_Contact_Frequency:_On_Going":{"runAfter":{},"metadata":{"operationMetadataId":"2dee7d0b-1eff-4b2d-849a-9513e3227c99"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"lists","recordId":"@items('Apply_to_each_Marketing_List')?['listid']","item/dpam_os_statuscontactfrequency":100000001},"authentication":"@parameters('$authentication')"}},"List_of_Counterparties":{"runAfter":{"Update_Status_Contact_Frequency:_On_Going":["Succeeded"]},"metadata":{"operationMetadataId":"49a7fb7f-71a8-49c0-9fab-d82a52b24b5c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","fetchXml":"<fetch >\n  <entity name=\"account\">\n    <attribute name=\"name\" />\n    <attribute name=\"accountid\" />\n    <link-entity name=\"listmember\" from=\"entityid\" to=\"accountid\" visible=\"false\" intersect=\"true\">\n      <link-entity name=\"list\" from=\"listid\" to=\"listid\" alias=\"ab\">\n        <filter type=\"and\">\n          <condition attribute=\"listid\" operator=\"eq\" uiname=\"Test\" uitype=\"list\" value=\"@{items('Apply_to_each_Marketing_List')?['listid']}\" />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_counterparty":{"foreach":"@outputs('List_of_Counterparties')?['body/value']","actions":{"Create_Contact_Frequencies":{"runAfter":{},"metadata":{"operationMetadataId":"0a895216-688d-4b98-be51-8705387f8488"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"dpam_contactfrequencies","item/dpam_lk_counterparty@odata.bind":"/accounts/@{items('Apply_to_each_counterparty')?['accountid']}","item/dpam_dt_enddate":"@items('Apply_to_each_Marketing_List')?['dpam_dt_enddate']","item/dpam_int_numberoftargetactivities":"@items('Apply_to_each_Marketing_List')?['dpam_int_numberoftargetcctivities']","item/dpam_dt_startdate":"@items('Apply_to_each_Marketing_List')?['dpam_dt_startdate']","item/statuscode":1},"authentication":"@parameters('$authentication')"}},"Add_Marketing_List_Guid_In_Error_Variable":{"runAfter":{"Create_Contact_Frequencies":["Failed"]},"metadata":{"operationMetadataId":"d4a87d22-e3d9-408e-b4ba-1e5d3b04aa08"},"type":"AppendToArrayVariable","inputs":{"name":"Error","value":"@items('Apply_to_each_Marketing_List')?['listid']"}}},"runAfter":{"List_of_Counterparties":["Succeeded"]},"metadata":{"operationMetadataId":"7215954f-9349-4c1b-8bde-7c744f3d4ab4"},"type":"Foreach"},"Condition:_Variable_Error_contains_Marketing_List_Guid":{"actions":{"Update_Status_Contact_Frequency:_Error":{"runAfter":{},"metadata":{"operationMetadataId":"2299da37-5dc0-4243-be9c-d9745e7d4345"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"lists","recordId":"@items('Apply_to_each_Marketing_List')?['listid']","item/dpam_os_statuscontactfrequency":100000003},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_counterparty":["Succeeded"]},"else":{"actions":{"Update_Status_Contact_Frequency:_Success":{"runAfter":{},"metadata":{"operationMetadataId":"45e679a5-7cb1-49fe-ae4f-5fe47acdb4f2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"lists","recordId":"@items('Apply_to_each_Marketing_List')?['listid']","item/dpam_os_statuscontactfrequency":100000002},"authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@variables('Error')","@items('Apply_to_each_Marketing_List')?['listid']"]},"metadata":{"operationMetadataId":"9815c659-5cf6-4d7d-9f9e-a55b2280f15e"},"type":"If"}},"runAfter":{"List_of_Marketing_Lists":["Succeeded"]},"metadata":{"operationMetadataId":"47fcb50d-ad7f-4494-9696-ed25a4d6a998"},"type":"Foreach"},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"f7c4a278-3598-4957-bed0-0354a799225f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Error","type":"array"}]}}}}},"schemaVersion":"1.0.0.0"}